.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.menu-icon, .header-right {
  display: flex;
  align-items: center;
}

.header-search {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

.search-icon {
  margin-right: 4px;
}

.search-input {
  flex: 1;
  margin-right: 8px;
  border: none;
  outline: none;
}

.remove-input-button {
  cursor: pointer;
}

.search-results {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}

.icon {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
}
